<template>
  <list-placeholder @create="create" :showing="hasData" :loading="isLoading">
    <b-table ref="{{.TableNameCamel}}List" datakey="{{.TableIDTitle}}" :data="pagedData.records"
       :striped="true" :mobile-cards="true" 
       :paginated="true" :per-page="pagedData.limit" 
       :backend-pagination="true"
       :backend-sorting="true"
       :total="pagedData.total"
       :default-sort="[pagedData.sort, pagedData.direction]"
       {{if .HasSort}}@row-drag-dropped="sorting"{{end}}
       @sort="sort"
       @page-change="pageChange"
       >
      <template slot-scope="props">
        <b-table-column label="">
          <div class="field has-addons">
            <p class="control -u-mb">
              <button  class="button is-small" @click="edit(props.row, props.index)">
                Edit
              </button>
            </p>
          </div>
        </b-table-column>{{range $index, $column := .Columns}}
        {{ if $column.IsID}}
        {{ else if $column.IsSort }}<b-table-column class="draggy" field="SortPosition" label="Sort"> 
          <div class="sort-field">
            <span class="icon " ><i class="fa fa-bars"></i></span>
            <div class="sort-text">{{"{{"}}props.row.SortPosition{{"}}"}}</div>
          </div>
        </b-table-column>{{else}}<b-table-column field="{{$column.ColumnNameTitle}}" label="{{$column.ColumnNameSplitTitle}}">
          {{ if $column.IsDate }}{{"{{"}} fmtDate(props.row.{{$column.ColumnNameTitle}}) {{"}}"}}{{end}}{{ if $column.IsDefault }}{{"{{"}} props.row.{{$column.ColumnNameTitle}} {{"}}"}}{{end}}
        </b-table-column>{{end}}
      {{end}}</template>
    </b-table>
  </list-placeholder>
</template>
{{.LTStr}}script{{.GTStr}}
import ListPlaceholder from '~/components/layout/ListPlaceholder'
{{ if .HasSort }}import {changeSort} from '~/helpers/filters'{{ end }}
import {mapActions} from 'vuex'

export default {
  components: {
    ListPlaceholder
  },
  computed: {
    hasData () {
      if (this.pagedData && this.pagedData.records && this.pagedData.records.length > 0) {
        return true
      }
      return false
    },
    buttons () {
      return [
        {text: 'Add New', alignment: 'left', kind: 'success', click: this.create}
      ]
    }
  },
  methods: {
    ...mapActions({
      setButtons: 'app/setButtons'
    }),

    sort (field, direction) {
      let pagedData = this.pagedData
      this.load(field, direction, pagedData.limit, pagedData.pageNum)
    },

    pageChange (page) {
      let pagedData = this.pagedData
      this.load(pagedData.sort, pagedData.direction, pagedData.limit, page)
    },

    load (sort, direction, limit, pageNum) {
      this.isLoading = true
      this.$service.paged('{{.TableNameCamel}}', sort, direction, limit, pageNum).then((data) => {
        this.pagedData = data
        this.isLoading = false
      })
    },

    create () {
      this.$router.push({ name: '{{.TableNamePluralCamel}}-ID-{{.TableNameCamel}}Edit', params: { ID: 0 } })
    },

    edit (record) {
      this.$router.push({ name: '{{.TableNamePluralCamel}}-ID-{{.TableNameCamel}}Edit', params: { ID: record.{{.TableIDTitle}} } })
    }{{if .HasSort}},

    sorting (from, to) {
      if (from !== to) {
        let newRecords = changeSort(this.pagedData.records, from, to)
        this.pagedData.records = newRecords
        this.$axios.put('/api/v1/{{.TableNameLower}}/sort', newRecords)
      }
    }
{{end}}
  },
  created () {
    this.load('DateModified', 'desc', 50, 1)
    this.setButtons(this.buttons)
  },
  data () {
    return {
      isLoading: true,
      pagedData: {
        sort: '',
        direction: 'desc',
        records: [],
        total: 0,
        pageNum: 1,
        limit: 50
      }
    }
  }
}
{{.LTStr}}/script{{.GTStr}}

'{{.TableNamePlural}}': {
  title: '{{.TableNameSpaces}}',
  icon: 'fa-circle-o',
  children: {
    '{{.TableNamePlural}}-ID-{{.TableNameCamel}}Edit': {
      title: function (instance) {
        return instance.$route.params.ID === 0 ? 'Create {{.TableNameSpaces}}' : 'Edit {{.TableNameSpaces}}'
      }
    }
  }
}