CREATE TABLE "{{.Data.TableName}}" (
    "{{.Data.TableName}}_id" serial,
    {{range $field := .Data.Fields}}"{{$field.FieldName}}" {{$field.FieldType}},{{end}}
    "date_created" timestamptz,
    "date_modified" timestamptz,
    {{if eq .Data.TableName "usersession_token"}}
    {{else}}
    "ulid" varchar(26),
    {{end}}
    PRIMARY KEY ("{{.Data.TableName}}_id")
);
