{{$bucket := .}}<!-- wierd formatting to keep source html tidy -->
{{range $i, $block := .Page.Blocks}}{{ if eq $block.Type "One Column"}}
{{template "one-column" $block}}{{ end }}{{ if eq $block.Type "Two Column"}}
{{template "two-column" $block}}{{ end }}{{ if eq $block.Type "One Column Hero"}}
{{template "one-column-hero" $block}}{{ end }}{{ if eq $block.Type "Two Column Hero"}}
{{template "two-column-hero" $block}}{{ end }}{{ if eq $block.Type "Three Column"}}
{{template "three-column" $block}}{{ end }}{{ if eq $block.Type "Hero Image"}}
{{template "hero-image" $block}}{{ end }}{{ if eq $block.Type "Horizontal Line"}}
{{template "horizontal-line" $block}}{{ end }}{{ if eq $block.Type "Horizontal Space"}}
{{template "horizontal-space" $block}}{{ end }}{{ if eq $block.Type "Recent Work"}}
{{template "recent-work" $block}}{{ end }}{{ if eq $block.Type "Image Offset Left"}}
{{template "image-offset-left" $block}}{{ end }}{{ if eq $block.Type "Image Offset Right"}}
{{template "image-offset-right" $block}}{{ end }}{{ if eq $block.Type "Image Links"}}
{{template "image-links" $block}}{{ end }}{{ if eq $block.Type "All Work"}}
{{template "recent-work" $block}}{{ end }}{{ if eq $block.Type "Contact Messenger"}}
{{template "contact-messenger" $block}}{{ end }}{{ if eq $block.Type "Contact Form"}}
{{template "contact-form" $block}}{{ end }}
{{end}}