<section class="building-block container container animate-300">
  <div class="columns image-links">
    <a href="{{.Additional}}" class="column has-text-centered">
      {{ image .Picture "" ""}}
      <div class="content is-clearfix ">
        {{ htmlsafe .HTML }}
      </div>
    </a>
    <a href="{{.AdditionalTwo}}" class="column has-text-centered">
      {{ image .PictureTwo "" ""}}
      <div class="content is-clearfix ">
        {{ htmlsafe .HTMLTwo }}
      </div>
    </a>
    <a href="{{.AdditionalThree}}" class="column has-text-centered">
      {{ image .PictureThree "" ""}}
      <div class="content is-clearfix ">
        {{ htmlsafe .HTMLThree }}
      </div>
    </a>
    <a href="{{.AdditionalFour}}" class="column has-text-centered">
      {{ image .PictureFour "" ""}}
      <div class="content is-clearfix ">
        {{ htmlsafe .HTMLFour }}
      </div>
    </a>
  </div>
</section>