{{$bucket := .}}
<div id="menu-button" class="menu-button">
  <button class="button" onclick="menu.toggle()">
    <span>menu</span>
    <span class="icon open-icon">
      <i class="fa fa-bars"></i>
    </span>
    <span class="icon close-icon">
      <i class="fa fa-times"></i>
    </span>
  </button>
</div>

<aside class="info is-hidden-touch">
  <div class="tile is-ancestor u-fh">
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          {{image "logo.png" "NERDY Web Development" "logo"}}
          <h1 class="title is-2 u-b">NERDY</h1>
          <h3 class="title is-4">Web Development</h3>
          <div class="u-mt-lg">
            <a target="_blank" href="https://facebook.com/nerdynz" class="u-p social-icon facebook">
              <span class="icon">
                <i class="fa fa-facebook"></i>
              </span>
            </a>
            <a target="_blank" href="https://twitter.com/nerdynz" class="u-p social-icon twitter">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company-beta/18088982/" class="u-p social-icon linkedin">
              <span class="icon">
                <i class="fa fa-linkedin"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child"></div>
      </div>
    </div>
  </div>
</aside>


{{ if hasValue .TopNav }}
<aside id="menu" class="menu is-offscreen">
  <ul class="menu-list">
    {{ range $i, $navItem := .TopNav }}
      <li>{{link $bucket $navItem.Title $navItem.Slug "side-item"}}</li>
    {{ end }}
  </ul>
</aside>
{{ end }}