<section class="building-block container container animate-200 ">
  <div class="columns">
    {{ if and (hasValue .HTML) (hasValue .HTMLTwo) }}
    <div class="column is-half">
      <div class="content is-clearfix">
        {{ htmlsafe .HTML}}
      </div>
    </div>
    <div class="column is-half">
      <div class="content is-clearfix">
        {{ htmlsafe .HTMLTwo}}
      </div>
    </div>
    {{ else if (hasValue .HTMLTwo) }}
      <div class="column is-half is-offset-6">
        <div class="content is-clearfix">
          {{ htmlsafe .HTMLTwo}}
        </div>
      </div>
    {{ else }}
    <div class="column is-6">
      <div class="content is-clearfix">
        {{ htmlsafe .HTML}}
      </div>
    </div>
    <div class="column is-6 -u-p -u-m">
    </div>
    {{end }}
  </div>
</section>