$family-sans-serif: 'PT Sans', sans-serif;
$family-serif: 'PT Sans', serif;
$family-monospace: 'PT Sans', Monaco, Courier New, monospace;
$family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;

$tablet: 760px;
$desktop: 960px;
$widescreen: 1240px;

$size-normal: 1rem;
// $title: $grey-lighter;
// $subtitle: $grey-light;

$line-height: 1.5;
$content-heading-line-height: $line-height;
$content-line-height: $line-height;

$size-1: 3.2rem;
$size-2: 2.8rem;
$size-3: 2.2rem;
$size-4: 1.8rem;
$size-5: 1.4rem;
$size-6: 14px;
$size-7: 0.85rem;


$size-small: $size-7;
$size-normal: 1rem;
$size-medium: $size-5;
$size-large: $size-4;

$base-duration: 0.4s;
$use-fadeIn: true;
$use-fadeOut: true;
$use-slideInLeft: true;
$use-slideOutLeft: true;

$sidebar-width: 250px;

////////////////////////////////////////////////
// SUPERHERO
////////////////////////////////////////////////
$grey-darker:   #37474f;
$grey-dark:     #616271;
$grey:          #d0cfd4;
$grey-light:    #d5d7dc;
$grey-lighter:  #e9ebf5;
$grey-lightest: #EBEFF1;

$white-ter:    hsl(0, 0%, 96%);
$white-bis:    hsl(0, 0%, 98%);
$white:        #FAFAFA;

$black:        hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;

$cream: #FFFAE7;
$black:       #000000;

$orange:       #DF691A;
$yellow:       #f0ad4e;
$green:        #5cb85c;
$blue:         hsl(217, 71%, 53%);
$red:          #F15466;
$purple:       hsl(271, 100%, 71%);
$dark:         #212A2F;
$dark-blue: #00499F;
$device-color: #333D45;
$light-blue: #03A8D5;
$turquoise: #4A6981;
$fb-blue: #3B579D;
$light: #F6F6F6;


$dark: darken($grey-darker, 3);

$title: $grey-darker;
$title-weight: 400;
$subtitle-strong: $grey-darker;
$subtitle: darken($grey-darker, 10);
$subtitle-strong: darken($grey-darker, 10);

$background: transparent;
$body-background: #000;

$text: $grey-darker;
$text-strong: darken($grey-darker, 10);
$text-light: $grey-light;

$editor-border-color: $grey;

$validation-color: $red;
$validation-text-color: $white;

$tooltip-color: $blue;

$table-row-active-background-color: $white-ter;
$table-row-active-color: $yellow;

$control-padding-vertical: calc(0.375em - 1px) !default;
$control-padding-horizontal: calc(0.625em - 1px) !default;

$radius: 3px !default;

$slick-dot-size: 36px;
$navbar-height: 1rem;
// $radius: 0;
// $radius-small: 0;

// $table            : $text;
// $table-head       : $grey-lighter;
// $table-background : $grey-dark;
// $table-border     : $grey;
// $table-row-hover-background     : $grey-darker;
// $table-row-even-background      : $grey-darker;
// $table-row-even-hover-background: lighten($grey-darker, 4);

$sidebar-color: $black;
$primary: $black;

$header-height: 120px;
$footer-height: 100px;
$offset-header-footer: calc(100% - 220px); // this should be header and footer height

$header-height: 120px;
$footer-height: 100px;
$offset-header-footer: calc(100% - 220px); // this should be header and footer height

$border: $grey-lighter !default;
$border-hover: $grey-light !default;

$navbar-background-color: transparent;