@import "animate/animate";
@import "font-awesome/fa-regular";
@import "font-awesome/fontawesome";
@import "mixins";
@import "variables";

#__nuxt, #__layout {
  height: 100%;
}

.sort-field {
  display: flex;
  align-items: center;
  .sort-text {
    font-size: $size-7;
    color: $grey-dark;
    width: 30px;
    text-align: center;
  }
}

.app-main, .app-view-area, .app-content{
  height: 100%;
}

.slim {
  .slim-label {
    font-size: $size-small;
  }
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background:$primary !important;
  color: #fff;
  border-color: $primary !important;
}

.master-page-template {
  padding-top: 3rem;
  .page-title {
    font-weight: bold;
    background: $grey-lighter;
    position: absolute;
    height: 2rem;
    top:0;
    left:0;
    right:0;
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    .preview-button {
      top:0;
      position: absolute;
      right:0;
      background: $grey;
      font-size: $size-small;
      border-radius: 0;
      &:hover{
        background: $grey-lighter;
      }
    }
  }
}

html, body, #app, .app-inner {
  height: 100%;
}

.app-inner {
  &.login {
    background: $black;
  }
}

.login-box {
  margin: 0 1rem;
  @media (min-width: $tablet) {
    margin: 0;
  }
}

.login-logo {
  @media (min-width: $tablet) {
    max-width: 30rem;
  }
  margin: 1rem 0;
}

.draggy {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.validation-message {
  // background-color: $validation-color;
  // color: $validation-text-color;
  background-color: $red;
  color: $white;
  pointer-events: none;
  position: absolute;
  top: -30px;
  left: 80%;
  z-index: 20;
  padding: 4px 8px 2px;
  font-size: $size-small;
  border-radius: 3px;
  font-weight: $weight-semibold;
  display: block;
  white-space: nowrap;
  // min-width: 180px;

  &:after {
    top: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: $red;
    border-width: 6px;
    margin-left: -6px;
  }
}

.required-star {
  color: $red;
}

.v-hint-anchor{
  display: block;
  position: relative;
  width: 100%;

  .v-hint {
    &.hidden {
      display: none; // comment out when  debugging
    }

    position: absolute;
    background-color: $tooltip-color;
    box-sizing: border-box;
    width:100%;
    min-width: 250px;
    max-width: 420px;
    padding: 0.8em 1em;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 2px 2px 3px rgba(#000, 0.4);
    // text-align: center;

    
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
    }
    
    &.is-bottom {
        margin-bottom: 5px;
        
        &:after {
          border-width: 0 8px 8px 8px;
          border-bottom-color: $tooltip-color;
          border-top-color: transparent !important;
          border-left-color: transparent !important;
          border-right-color: transparent !important;
          top: -8px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      
      &.is-top {
        margin-left: 2px;
        right: 10px;
        bottom: 4px;

        &:after {
            border-width: 8px 8px 0 8px;
            border-top-color: $tooltip-color;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            bottom: -8px;
            margin-top: 0;
            margin-bottom: 0;
          }
        // bottom: -30px;
    }
    
    &.is-left {
        margin-left: 2px;
        left: 100%;
        bottom: -30px;
        
        &:after {
            border-width: 8px 8px 8px 0;
            border-right-color: $tooltip-color;
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -8px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    

    &.is-right {
        margin-right: 8px;
        
        &:after {
            border-width: 8px 0 8px 8px;
            border-left-color: $tooltip-color;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -8px;
            margin-left: 0;
            margin-right: 0;
        }
    }
  }
}

.slim-upload-status {
  display: none !important;
}

.multiselect.multiselect--active {
  z-index: 10;
}  

.multiselect__tags {
  padding: 8px 40px 8px 8px;
}
.member-select-tag {
  margin: 4px;
  position: relative;
  padding-right: 20px;
  border-radius: 3px;

  .custom__remove {
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
  }
}

.multiselect__input, .multiselect__single {
  margin-bottom: 0;
}

a.is-link {
  color: $orange;
}

.page-edit-title {
  text-transform: uppercase;
  text-align: right;
  font-size: $size-5;
  color: $grey;
  margin-bottom: 0.5rem;
}


.upload {
  .slim, .video, .slim[data-ratio*=":"]{
    background: $white;
    min-height: 120px;
  }

  .b-tabs {
    .tab-content {
      border: 1px solid $grey-lighter;
      border-top: none;
    }
  }
}