@import "~public/scss/_variables.scss";

html, body, #__nuxt, .main-body, .u-fh, #__layout {
  height: 100%;
}

@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
  margin-bottom: 0;
}

strong {
  color: inherit;
}

.modal-card-foot, .modal-card-head {
  background: $grey-light;
}



.input {
  box-shadow: none;
}

.label{
  font-weight: 600;
}
.thin-label {
  color:$dark;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 0.4em;
  }

  &.bigger {
    font-size: 16px;
  }
}

.input[disabled], .textarea[disabled] {
  background-color: $grey-lightest;
  border-color: $grey-lightest;
}
  
.ql-toolbar.ql-snow {
  border: 1px solid $grey-lighter;
}

.ql-toolbar {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.quill-editor{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.quill-editor.ql-container .ql-editor {
  padding: .6rem;
  min-height: 80px;
}

.notes-control{
  position: relative;
  z-index: 10;
}

.ql-toolbar.ql-snow {
  padding: 2px;
}

.fr-box {
  background-color: $white;
  .fr-toolbar.fr-top {
    .fr-command.fr-btn.fr-active, 
    .fr-popup .fr-command.fr-btn.fr-active {
      color: $blue;
    }

    box-shadow: none;
    border-top: none;
    border: 1px solid $editor-border-color;
    background-color: $grey-lightest;

    .fr-popup {
      border-top: 1px solid $editor-border-color !important;
      border: 1px solid $editor-border-color !important;
      box-shadow: none !important;
      margin-top: 4px;
      .fr-buttons {
        box-shadow: none !important;
        border-bottom: 1px solid $editor-border-color;
        background-color: $grey-lightest;
      }
      .fr-arrow {
        top: -5px;
        border-bottom-color: $editor-border-color;
      }
    }

    .fr-image-upload-layer {
      border: dashed 1px $grey;
    }
  }


  
  .fr-separator {
    background-color: $editor-border-color;
  }

  &.fr-basic.fr-top {
    .fr-wrapper {
      box-shadow: none !important;
      border: 1px solid $editor-border-color;
      border-top: none;
    }
  }
}

// .content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
//   margin: 0;
// }