@charset "utf-8";
@import "variables";
@import "animate/animate";
@import "bulma/utilities/all";
@import "bulma/base/all";
@import "bulma/components/all";
@import "bulma/elements/all";
@import "bulma/grid/all";
@import "bulma/layout/all";
@import "utility";
@import "font-awesome/font-awesome";
@import "content";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
  font-size: 90%;
  background-color: $body-background;
}

@media (min-width: 1000px) {
  html {
    font-size: 100%;
  }
  .progress {
    width: 75% !important;
    left: 25% !important;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 110%;
  }
}

// root elements
html, body, main.body, .top-level, #panel {
  // color: $black;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

body * {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
} 

header {
  background-color: $body-background;
  .navbar {
    background-color: transparent;
    .navbar-brand {
      .navbar-item{
        padding: 1rem;
        img.logo{
          max-height: 6rem;
        }
      }
    }
  }
}

main {
  &.body {
    // padding-bottom: 1rem;

    padding: 0.75rem;
    @media (min-width: $desktop) {
      padding: 0;
    }
    .columns:first-child {
      margin-top: 0;
    }
  }
  
  @media(min-width: $tablet) {
    &.body {
      // margin-left: 10%;
      margin-top: 0;
    }
  }
}

.title {
  &.is-2{
    font-size: 1.9rem;
  }

  @media(min-width: $tablet) {
    &.is-2{
      font-size: 2.4rem;
    }
  }
}
// .subtitle {
//   &.is-3{
//     font-size: 1.75rem;
//   }

//   @media(min-width: $tablet) {
//     &.is-3{
//       font-size: 2.5rem;
//     }
//   }
// }

.float-field {
  position: relative;
  margin-top: 1rem;

  .label {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 10;
    color: $white;
    cursor: text;
    transition: all .15s ease-out;
    font-weight: normal;

    &.is-active {
      top: -0.7em;
      font-size: 0.65rem;
      padding: 0 0.2rem;
      color: $white;
    }
  }
}

.footer {
  position: relative;
  overflow: hidden;
  .copy {
    @media (min-width: $tablet) {
    }
  }
}

.validation-anchor {
  position: relative;
}

.validation-message {
  background-color: $validation-color;
  color: $validation-text-color;
  pointer-events: none;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 20;
  // padding: 4px 8px 2px;
  font-size: $size-small;
  border-radius: 3px;
  font-weight: $weight-semibold;
  // arrorw
  // &:after {
  //   top: 100%;
  //   left: 85%;
  //   border: solid transparent;
  //   content: " ";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   border-top-color: $validation-color;
  //   border-width: 6px;
  //   margin-left: -6px;
  // }
}

.field.is-danger {
  .input, .textarea, .select select{
    border-color: $red;
  }
}

.select, .select select{
  width: 100%;
}

.required-star {
  color: $validation-text-color;
  position: absolute;
  margin-left: -10px;
}

.slick-prev, .slick-next {
  position: absolute;
  font-size: 3.5rem;
  bottom: 2.2rem;
  top: initial !important;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-size: cover;
  border: none;
  outline: none;
  z-index: 500;

  svg {
    fill: $orange;
  }
  &:hover {
    svg {
      fill: darken($orange, 10%);
    }
  }
}

.section {
  padding: 1.25rem 1rem;
  @media (min-width: $tablet) {
    &.body-section {
      // border-top: 2px solid $black;
      // padding-left: 4rem;
      // padding-right: 4rem;
      .building-block {
        max-width: 1280px;
        margin: 0 auto;
      }
    }
  }
}


//blocks
.image-links {
  .column {
    &:hover {
      background: rgba(0, 0, 0, 0.1)
    }
  }
}