/*! bulma.io v0.3.0 | MIT License | github.com/jgthms/bulma */
@charset "utf-8";
// font
@import "_variables.scss";

.content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: $weight-semibold;
  }
  a {
    color: $orange;
    font-weight: $weight-semibold;
  }
}

.content blockquote:not(:last-child), .content ol:not(:last-child), .content p:not(:last-child), .content table:not(:last-child), .content ul:not(:last-child) {
  margin-bottom: initial;
}