@import "variables";
@import "bulma/utilities/all";
@import "bulma/elements/button";
@import "font-awesome/font-awesome";

.custom-error{
  font-family: $family-sans-serif;
  font-size: 1.5em;
  width: 500px;
  margin: 100px auto 0;
  // text-transform: lowercase;
  text-align: center;
}

.custom-error{
  .fa-exclamation-triangle{
    color: $red;
  }
}
