.is-fixed {
  position: fixed;

  &.is-overlay{
    position: fixed;
  }
}
.is-relative {
  position: relative;
}

.is-vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}
.u-fl {
  float:left;
}
.u-fr {
  float:left;
}
.u-50 {
  width: 50%;
}
.u-33 {
  width: 33.33%;
}
.u-66 {
  width: 66%;
}

.u-bg {
  background: $body-background;
}

.-u-mb {
  margin-bottom: 0 !important;
}

.u-ps {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;;
}

.u-r {
  position: relative;
}

.u-p {
  padding: 1rem;
}

.u-pl {
  padding-left: 1rem;
}

.u-pr {
  padding-right: 1rem;
}

.u-pt {
  padding-top: 1rem;
}

.u-pb {
  padding-bottom: 1rem;
}
.u-ptb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.u-plr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-sm-pl {
  padding-left: 0.5rem;
}

.u-sm-pr {
  padding-right: 0.5rem;
}

.u-sm-pt {
  padding-top: 0.5rem;
}

.u-sm-pb {
  padding-bottom: 0.5rem;
}

.u-sm-ptb {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.u-sm-p {
  padding: 0.5rem;
}

.u-s-mt{
  margin-top: 0.5rem;
}
.u-s-ml{
  margin-left: 0.5rem
}
.u-s-mr{
  margin-right: 0.5rem
}
.u-s-mb{
  margin-bottom: 0.5rem !important;
}

.u-mt{
  margin-top: 1rem !important;
}

.u-mb{
  margin-bottom: 1rem !important;
}

.u-mtb{
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.u-bg-mt {
  margin-top: 2.5rem;
}

.u-bg-mb {
  margin-bottom: 2.5rem;
}

.-u-m{
  margin: 0 !important;
}

.-u-p {
  padding: 0 !important;
}

.-u-pt{
  padding-top: 0 !important;
}

.-u-pl{
  padding-left: 0 !important;
}

.-u-pr{
  padding-right: 0 !important;
}

.-u-ptb{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.-u-plr{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-fw {
  width: 100%;
  &.control {
    .input, .select, .select select, .textarea {
      width: 100%;
    }
  }
}

.title span.u-sb,
.u-sb {
  font-weight: $weight-semibold;
}

.title span.u-b,
.u-b {
  font-weight: $weight-bold;
}
.u-u {
  text-decoration: underline;
}

.u-fh {
  height: 100%;
}

.is-orange {
  color: $orange;
}

.is-white {
  color: $white;
}



/* Utilities
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.small-padding{
  padding: 10px;
}

.no-top-padding{
  padding-top: 0;
  padding-bottom: 0;
}

.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}

.top-padding{
  padding-top: 10px;
}

.top-margin{
  margin-top: 20px;
}

.bot-margin{
  margin-bottom: 20px;
}

.no-margin{
  margin: 0;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.uppercase{
  text-transform: uppercase;
}

.hidden{
  display: none;
}

.edit-visible{
  display: none;
}

.u-rel {
  position: relative;
}

.u-abs {
  position: absolute;
}
