{{$tableName := .Data.TableName}}
{{range $field := .Data.Fields}} 
ALTER TABLE "{{$tableName}}" ADD COLUMN "{{$field.FieldName}}" {{$field.FieldType}}; 
{{ if eq $field.FieldType "numberic"}}
UPDATE "{{$tableName}}" SET "{{$field.FieldName}}" = 0 where "{{$field.FieldName}}" is null;
{{end}}
{{ if eq $field.FieldType "integer"}}
UPDATE "{{$tableName}}" SET "{{$field.FieldName}}" = 0 where "{{$field.FieldName}}" is null;
{{end}}
{{ if eq $field.FieldType "text"}}
UPDATE "{{$tableName}}" SET "{{$field.FieldName}}" = '' where "{{$field.FieldName}}" is null;
{{end}}
{{end}}

