CREATE TABLE "{{.Data.TableName}}" (
    "{{.Data.TableName}}_id" serial,
    {{range $field := .Data.Fields}}"{{$field.FieldName}}" {{$field.FieldType}},{{end}}
    "date_created" timestamptz,
    "date_modified" timestamptz,
    "uuid" uuid,
    PRIMARY KEY ("{{.Data.TableName}}_id")
);
